.green-button {
	font-family: "Neucha";
	font-size: 17px;
  background-color: #04AA6D; /* Blue color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding for the button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove default link decoration */
  display: inline-block; /* Make it behave as a block element */
}

/* Hover effect */
.green-button:hover {
	font-family: "Neucha";
  font-weight: bold;
  background-color: #029c63; /* Darker shade of blue */
}

.blue-button {
	font-family: "Neucha";
	font-size: 17px;
  background-color: #7CB9E8; /* Blue color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding for the button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove default link decoration */
  display: inline-block; /* Make it behave as a block element */
}

/* Hover effect */
.blue-button:hover {
	font-family: "Neucha";
  font-weight: bold;
  background-color: #6CB4EE; /* Darker shade of blue */
}

.is-selected {
	background-color: #dcf2d4;
}

.is-selected:hover {
	background-color: #bce6ad !important;
}
