.attribute-layout .multiselect__content-wrapper {
  z-index: 1000;
  max-height: 300px; /* Adjust as needed */
  overflow-y: auto;

	position: fixed !important;
	z-index: 1000;
	max-height: none !important;
}

.attribute-layout .multiselect__option {
  white-space: normal;
  word-break: break-word;
}

.attribute-layout .multiselect {
  min-height: 30px;
}

.attribute-layout .multiselect__single {
  margin-bottom: 0;
  padding: 0;
}

.attribute-layout .multiselect__tags {
  min-height: 30px;
  padding: 5px 40px 0 8px;
}

.attribute-layout .multiselect__select {
  height: 30px;
}
