.main-container {
  padding: 10px; /* Apply padding of 20 pixels inside the container */
  display: flex;

  width: 99%;
  height: 98%;

  position:fixed;
  box-sizing: border-box;

  /*flex-direction: column;*/
}

.main-container-start-col {
  padding: 10px; /* Apply padding of 20 pixels inside the container */
  display: flex;

  width: 99%;
  height: 98%;

  position:fixed;
  box-sizing: border-box;

  flex-direction: column;
}


.top-row {
  flex: 1 0 25px;
}

.bottom-row {
  display: flex;

  box-sizing: content-box;
  height: 95%;


}

.cool {

  border-top: 2px solid black; /* Border for the top side */
  border-left: 2px solid black; /* Border for the left side */
  border-right: 2px solid black; /* Border for the right side */
  border-bottom: none; /* No border for the bottom side */
}

.fixed-container {
  position:fixed;
}

.base-format {
  padding: 10px; /* Apply padding of 20 pixels inside the container */
  box-sizing: border-box;
}

.stack-setup {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  height: 100%; /* Fixed height for the container */
  width: 100%;


  box-sizing: border-box;
}

.stack{
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  flex-wrap: wrap; /* Wrap items into multiple rows */
  height: 100%;
  width: 100%;


  box-sizing: border-box;
}

.stack0 {
  /*background-color: #76b852; /* Background color */
}

.stack05 {
  flex: 5%; /* 20% width */
  /*background-color: #76b852; /* Background color */
}

.stack1 {
  flex: 10%; /* 20% width */
  /*background-color: #76b852; /* Background color */
}

.stack2 {
  flex: 20%; /* 40% width */
  /*background-color: #007bff; /* Background color */
}

.height100{
	height: 100%; /* Fixed height */
  overflow-y: auto; /* Enable vertical scrollbar */
}

.heightFixed{
  background-color: gold; /* Background color */
	height: 50px;; /* Fixed height */
  overflow-y: auto; /* Enable vertical scrollbar */
}

.stack-overflow {
	height: 100%; /* Fixed height */
  overflow-y: auto; /* Enable vertical scrollbar */
}

.stack3 {
  flex: 30%; /* 40% width */
  /*background-color: #ff5733; /* Background color */
}

.stack4 {
  flex: 40%; /* 40% width */
  /*background-color: #ff5733; /* Background color */
}

.stack5 {
  flex: 50%; /* 40% width */
}

.stack7 {
  flex: 70%; /* 40% width */
}

.stack8 {
  flex: 80%; /* 40% width */
  background-color: #ff5733; /* Background color */
}

.stack9 {
  flex: 90%; /* 40% width */
  background-color: #ff5733; /* Background color */
}

.box{
  display: flex;
}

.box20{
  flex: 1;
}
.box80{
  flex: 4;
}

.box-7-8{
  flex: 7;
}
.box-1-8{
  flex: 1;
}

.c20 {
  flex: 1; /* Takes up 1 part of the available space */
  /*background-color: lightblue; /* Just for visualization */
  padding: 5px;
}

.c80 {
  flex: 4; /* Takes up 4 parts of the available space */
  /*background-color: lightgreen; /* Just for visualization */
}

.border-x1 {
  border: 1px solid black;
}

.border-x2 {
  border: 2px solid black;
}

.border-top-x2 {
  border-top: 2px solid #000; /* Adjust thickness and color as needed */
}



