@import url('/node_modules/rpg-awesome/css/rpg-awesome.min.css');

@font-face {
	font-family: "Neucha";
	src: local("Neucha"),  url(@/css/Neucha-Regular.ttf) format("truetype");
}

#app {
  font-family: "Neucha", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;

  /* text-align: center; */
}

body {
    font-family: "Neucha", Arial, sans-serif;
    /* background-color: #f0f0f0; */
    /* add more global styles here */
}


.title4 {
  font-size: 20px;
  font-weight: bold;
}

.title3 {
  font-size: 18px;
  font-weight: bold;
}

/* Fixes */
.fit-width{
  width: 100%;
}

.left {
  align-items: left;
}

.right {
  align-items: right;
}

.left-aligned {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust margin as needed */
}





.custom-input {
  width: 200px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
	font-family: "Neucha";
  outline: none; /* Remove default focus outline */
}

.custom-input:focus {
  border-color: dodgerblue; /* Change border color on focus */
}


